<section class="hero is-warning">
    <div class="hero-body">
        <p class="p-title">
            "Hello there {{username}}"
        </p>
    </div>
</section>




<div class="columns">
    <div class="column">
        <img src="./images/maui.jpg" alt="Placeholder image">
    </div>
    <div class="column">
        {{#each pets}}
        <p>{{name}}</p>
        {{#each behaviors}}
        <div class="cards">
           <h3>{{name}}</h3>
        </div>
        {{/each}}{{/each}}
    </div>

    <body>


        <!-- <div class="account">
            <btn><img id="login" src="./images/login.png"> </btn>
            <btn id="create"> Create Account </btn>
        </div> -->

       
        <img id="paw-watermark" src="./images/dog-paw.png">