<section class="hero is-warning">
    <div class="hero-body">
        <p class="p-title">
            "Hello there ________"
        </p>
    </div>
</section>




<div class="columns">
    <div class="column">
        <img id="user-photo" src="./images/user male placeholder.png">
    </div>
    <div class="column">
        <div class="cards">
           <h3>Paw-Sitive Behavior 1</h3>
        </div>

        <div class="cards">
            <h3>Paw-Sitive Behavior 2</h3>
        </div>
    </div>

    <body>


        <!-- <div class="account">
            <btn><img id="login" src="./images/login.png"> </btn>
            <btn id="create"> Create Account </btn>
        </div> -->

       
        <img id="paw-watermark" src="./images/dog-paw.png">