header{
    
    background-color: orange;

}

.navbar-front {
    color: #fff;
}

#pawgress{
    text-align: center;
}

#paw-watermark {
    opacity: 0.1;
    right: -9.375rem;
    height: auto;
    width: 43.75rem;
    bottom: 0px;
    position: absolute;
}

.button {
    z-index: 1;
}